img.paid
{      
	background: #D2E798;
	padding-left: 5px;
}
img.unpaid
{                 
	background: #FF878A;
	padding-left: 5px;
}
.price_item {
	float: left;
	margin-right: 5px;
}
.price_item span {
	text-transform: none;
}
.price_name {
	vertical-align: bottom!important;
	padding-bottom: 12px!important;
}
#shc-group {
	padding: 15px 0px 0px 0px;
}