img.item_del {
	background: url("../../../templates/general_simple_green/img/gallery.png") no-repeat scroll -30px -1627px rgba(0, 0, 0, 0);
	cursor: pointer;
    height: 9px;
    width: 9px;
}
#shc-my-cart {
	position: relative;
	float: left;
    padding: 4px 5px 0 0;
}
#shc-my-cart img.active,
#shc-my-cart img.arrow {
	background: url("../../../templates/general_modern/img/gallery.png") no-repeat scroll -33px -1776px rgba(0, 0, 0, 0);
    height: 4px;
    position: absolute;
    right: 5px;
    top: 9px;
    width: 7px;
}
#shc-my-cart img.active {
	background-position: -33px -1784px;
}
div#shc-my-cart .inner {
    background: url("general_modern.png") no-repeat scroll 0 0 rgba(255, 255, 255, 0.4);
	background-position: 10px 3px; 
    border-radius: 3px;
    padding: 3px 18px 4px 31px;
    position: relative;
	text-align: right;
}
.shc-active {
	background-color: #F7F8F9!important;  
    border-radius: 3px;
}
div#shc-my-cart .inner a.shc-my-cart {
	color: #7697B1;
    font-size: 12px;
    text-decoration: none;
}
.shopping_cart_layer {
    padding: 10px 0px 15px 0px;
	width: 250px;
	text-align: left;
}
td.item_photo {
	text-align: left;
}